body {
    background-color: black;
    color: yellow;
    font-family: Arial, sans-serif;
}

nav a {
    display: block;
    background-color: yellow;
    color: black;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: .2em .5em;
    font-size: 0.8rem;
}

nav a:hover {
    font-weight: bold;
}

nav a + a {
    margin-top: 5px;
}

#fort-logo {
    width: 100%;
    margin-bottom: .5rem;
}